{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
    <div class="login-item">
      <form class="form" method="post">
        <h2>Login</h2>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
        Login
        </button>
        {% endbuttons %}
      </form>
      <div class="bottom-text">
        <p>Don't have an account? <a href="{%url 'signup' %}">Signup</a></p>
      </div>
    </div>

{% endblock %}
