{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
  <h6>Password Change</h6>
  <p>
    Please enter your old password, for security’s sake, and then enter your new password
    twice so we can verify you typed it in correctly.
  </p>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-danger">Change my Password</button>
  </form>
{% endblock %}
