{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
	<div class="login-item">
	  <h3>Password reset</h3>
	  <p>
	    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
	  </p>
	  <form method="post">
	    {% csrf_token %}
	    {% bootstrap_form form %}
	    <button type="submit" class="btn btn-danger">Reset my Password</button>
	  </form>
	 </div>
{% endblock %}
