{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated and user.is_teacher %}
    <div>
      <h3>Quiz
        <a href="{% url 'create_quiz' %}"><button type="button" name="btn_question_add" class="btn btn-primary btn-sm ml-2">Create Quiz</button></a>
      </h3>
    </div>
  {% endif %}
  {% if user.is_authenticated and user.is_student %}
    <div class="list-group">
      {% for quiz in object_list %}
        {% if quiz.subject in user.student.interests.all and quiz.roll_out%}

          <div  class="list-group-item mb-2">
            <h4 class="list-group-item-heading">
              {{ quiz.name }}
              
            </h4>
            <div class="list-group-item-text">
              <p>{{ quiz.subject }} <small class="text-muted">last updated on {{ quiz.updated_on }}</small></p>
              <h7>Owner: {{ quiz.owner }}</h7>
              <a href="{% url 'quiz_detail' quiz.pk %}"><button type="button" name="btn_quiz_list" class="btn btn-info btn-sm ml-2">Details</button></a>
              <a href="{% url 'take_quiz' quiz.pk %}"><button type="button" name="btn_question_take" class="btn btn-outline-primary btn-sm ml-2">Take Quiz</button></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="list-group">
    {% for quiz in object_list %}
      <div  class="list-group-item mb-2">
        <h4 class="list-group-item-heading">
          {{ quiz.name }}      
        </h4>
        <div class="list-group-item-text">
          <p>{{ quiz.subject }} <small class="text-muted">last updated on {{ quiz.updated_on }}</small></p>
          <h7>Owner: {{ quiz.owner }}</h7>
          {% if not quiz.roll_out %}
             <p class="text-danger">status: NOT OUT YET</p>
           {% else %}
             <p class="text-success">status: Rolled Out</p>
          {% endif %}
          <a href="{% url 'quiz_detail' quiz.pk %}">
            <button type="button" name="btn_quiz_list" class="btn btn-info btn-sm ml-2">Details</button>
          </a>
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>

  <!-- <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Quiz Results</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Some content in menu 2.</p>
    </div>
  </div> -->
{% endblock %}
