{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
<div class="login">
  <div class="login-item">
    <h2>Student Signup</h2>
  </div>
    <div class="login-item">
      <form class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
        Signup
        </button>
        {% endbuttons %}
      </form>
    </div>
    <div class="login-item">
      <p>Alredy have an acount? <a href="{%url 'login' %}">Login</a></p>
    </div>
</div>

{% endblock %}
