{% extends 'base.html' %}

{% block content %}
  <h2>Teacher Signup</h2>
  <form role="form" class="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <!-- <div class="form-group">
      <label >{{ field.label_tag }}</label>
      <input type="email" class="form-control" id="email">
    </div> -->
      <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" name="button" class="btn btn-success">SignUp</button>
  </form>
  <p>Alredy have an acount? <a href="{%url 'login' %}">Login</a></p>
{% endblock %}
